@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  height: 100dvh;
  max-width: 1200px;
  background-color: rgb(239, 239, 239);
  margin: auto;
}